.navbar {
  background-color: #005000;
  color: #FFF;
  padding: 5px;
  margin: -10px;
}

a, a.visited {
  color: #00FF00;
  text-decoration: none;
  text-weight: bold;
}

.navbar.a {
  color: #EEE;
}

body {
  user-select: none;
  font-family: Tahoma, sans-serif;
}
